<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Quotes</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.0-alpha/dist/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.0-alpha/dist/js/materialize.min.js"></script>

    <style>
      .space-between {
        display: flex;
        justify-content: space-between;
      }

    </style>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="indigo darken-2">
    <nav>
      <div class="nav-wrapper indigo darken-4">
        <a href="#" class="brand-logo">Hello <%= userName %></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a>Saved Quotes</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <div class="container center">
      <h3 style="color: white;">Here are some quotes you might like</h3>

      <div class="center" style="padding: 0px 160px 0px 160px">
        <div class="center">
          <div style class="card indigo lighten-5">
            <div class="card-content">
              <%- quotes %><br /><a
                class="indigo lighten-1 waves-effect waves-light btn-small"
                href="#"
                >Save</a
              >
            </div>
          </div>
        </div>
      </div>

      <form
        style="padding-top: 10px"
        ,
        action="/loggedIn/genQuotes"
        method="post"
      >
        <a
          href="/loggedIn/genQuotes"
          class="indigo darken-4 btn-large waves-effect waves-light"
          >Generate Quotes</a
        >
      </form>
    </div>
  </body>
</html>
